In [1]:
# Import dependencies
import pandas as pd
from sqlalchemy import create_engine

In [4]:
# The path to the World Happiness CSV file
sonoma_file = "data/Animal_Shelter_Intake_and_Outcome.csv"

# Read the World Happiness data into pandas
original_sonoma_df = pd.read_csv(sonoma_file, delimiter = ',')
original_sonoma_df

,Name,Type,Breed,Color,Sex,Size,Date Of Birth,Impound Number,Kennel Number,Animal ID,...,Intake Subtype,Outcome Type,Outcome Subtype,Intake Condition,Outcome Condition,Intake Jurisdiction,Outcome Jurisdiction,Outcome Zip Code,Location,Count
0,SKY,DOG,GERM SHEPHERD,BLACK/TAN,Female,MED,NaN,K20-035118,DS69,A395686,...,FIELD,RETURN TO OWNER,OVER THE COUNTER_CALL,HEALTHY,HEALTHY,COUNTY,COUNTY,95404.0,"95404(38.458384, -122.675588)",1
1,COCO,DOG,BEAGLE,TRICOLOR,Neutered,SMALL,04/06/2015,K17-025093,DS83,A379968,...,FIELD,TRANSFER,NC AN FRND,UNKNOWN,HEALTHY,SANTA ROSA,OUT OF COUNTY,95758.0,"95758(38.424655, -121.438065)",1
2,BRATT,CAT,DOMESTIC SH,BRN TABBY,Spayed,SMALL,09/01/2010,K18-028633,MAC,A374010,...,OVER THE COUNTER,ADOPTION,MOB EVENT,TREATABLE/MANAGEABLE,HEALTHY,COUNTY,SANTA ROSA,95405.0,"95405(38.439152, -122.672541)",1
3,SUZIE,DOG,LABRADOR RETR/MIX,BLACK,Spayed,LARGE,01/23/2011,K15-012348,DA34,A315553,...,OVER THE COUNTER,ADOPTION,INTERNET,HEALTHY,HEALTHY,SANTA ROSA,SANTA ROSA,95404.0,"95404(38.458384, -122.675588)",1
4,*FINN,DOG,GOLDEN RETR,YELLOW,Neutered,LARGE,02/11/2012,K18-027243,DA41,A368064,...,FLD_CRUEL,ADOPTION,SCAS WEB,UNKNOWN,PENDING,COUNTY,COUNTY,95401.0,"95401(38.446019, -122.766748)",1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20370,*ONYX,CAT,DOMESTIC SH,BLACK,Neutered,SMALL,02/23/2011,K16-017789,CS04,A333091,...,OVER THE COUNTER,ADOPTION,WALKIN,HEALTHY,HEALTHY,SANTA ROSA,COUNTY,95403.0,"95403(38.486997, -122.749134)",1
20371,NaN,DOG,CHIHUAHUA SH,TAN,Female,TOY,NaN,K15-013157,DS91,A317956,...,OVER THE COUNTER,EUTHANIZE,AGGRESSIVE,TREATABLE/REHAB,UNTREATABLE,SANTA ROSA,NaN,NaN,NaN,1
20372,TEDDY BEAR,DOG,BICHON FRISE/MIX,CREAM,Neutered,SMALL,06/15/2011,K18-028664,DA20,A374057,...,FIELD,RETURN TO OWNER,OVER THE COUNTER_WEB,UNKNOWN,HEALTHY,SANTA ROSA,SANTA ROSA,95403.0,"95403(38.486997, -122.749134)",1
20373,TIPPY,CAT,DOMESTIC SH,BLACK/WHITE,Spayed,SMALL,10/13/2009,K17-025618,CA03,A362428,...,FIELD,RETURN TO OWNER,OVER THE COUNTER_PRVS,UNKNOWN,HEALTHY,SANTA ROSA,COUNTY,95403.0,"95403(38.486997, -122.749134)",1
20374,ROSIE,DOG,CAIRN TERRIER/DACHSHUND WH,BLACK,Spayed,SMALL,08/08/2004,K14-010178,TRUCK,A309932,...,FIELD,RETURN TO OWNER,FLD_PRVS,HEALTHY,HEALTHY,SANTA ROSA,NaN,NaN,NaN,1

In [5]:
original_sonoma_df.dtypes

Name                     object
Type                     object
Breed                    object
Color                    object
Sex                      object
Size                     object
Date Of Birth            object
Impound Number           object
Kennel Number            object
Animal ID                object
Intake Date              object
Outcome Date             object
Days in Shelter           int64
Intake Type              object
Intake Subtype           object
Outcome Type             object
Outcome Subtype          object
Intake Condition         object
Outcome Condition        object
Intake Jurisdiction      object
Outcome Jurisdiction     object
Outcome Zip Code        float64
Location                 object
Count                     int64
dtype: object

In [27]:
clean_sonoma_df = original_sonoma_df[['Animal ID', 'Type', 'Outcome Type']]
clean_sonoma_df

      Animal ID Type     Outcome Type
0       A395686  DOG  RETURN TO OWNER
1       A379968  DOG         TRANSFER
2       A374010  CAT         ADOPTION
3       A315553  DOG         ADOPTION
4       A368064  DOG         ADOPTION
...         ...  ...              ...
20370   A333091  CAT         ADOPTION
20371   A317956  DOG        EUTHANIZE
20372   A374057  DOG  RETURN TO OWNER
20373   A362428  CAT  RETURN TO OWNER
20374   A309932  DOG  RETURN TO OWNER

[20375 rows x 3 columns]

In [28]:
clean_sonoma_df['Type'] = clean_sonoma_df['Type'].str.title()
clean_sonoma_df

      Animal ID Type     Outcome Type
0       A395686  Dog  RETURN TO OWNER
1       A379968  Dog         TRANSFER
2       A374010  Cat         ADOPTION
3       A315553  Dog         ADOPTION
4       A368064  Dog         ADOPTION
...         ...  ...              ...
20370   A333091  Cat         ADOPTION
20371   A317956  Dog        EUTHANIZE
20372   A374057  Dog  RETURN TO OWNER
20373   A362428  Cat  RETURN TO OWNER
20374   A309932  Dog  RETURN TO OWNER

[20375 rows x 3 columns]

In [29]:
clean_sonoma_df['Outcome Type'] = clean_sonoma_df['Outcome Type'].str.title()
clean_sonoma_df

      Animal ID Type     Outcome Type
0       A395686  Dog  Return To Owner
1       A379968  Dog         Transfer
2       A374010  Cat         Adoption
3       A315553  Dog         Adoption
4       A368064  Dog         Adoption
...         ...  ...              ...
20370   A333091  Cat         Adoption
20371   A317956  Dog        Euthanize
20372   A374057  Dog  Return To Owner
20373   A362428  Cat  Return To Owner
20374   A309932  Dog  Return To Owner

[20375 rows x 3 columns]

In [36]:
id_df = clean_sonoma_df[['Animal ID', 'Outcome Type']]
id_df

      Animal ID     Outcome Type
0       A395686  Return To Owner
1       A379968         Transfer
2       A374010         Adoption
3       A315553         Adoption
4       A368064         Adoption
...         ...              ...
20370   A333091         Adoption
20371   A317956        Euthanize
20372   A374057  Return To Owner
20373   A362428  Return To Owner
20374   A309932  Return To Owner

[20375 rows x 2 columns]

In [37]:
duplicate = id_df[id_df.duplicated()]
print("Duplicate Rows :")
duplicate

Duplicate Rows :

      Animal ID     Outcome Type
44      A395184  Return To Owner
87      A328035  Return To Owner
89      A393473  Return To Owner
123     A328035  Return To Owner
156     A393472  Return To Owner
...         ...              ...
20306   A329123         Adoption
20320   A314717  Return To Owner
20323   A345466         Adoption
20327   A367882         Adoption
20330   A349479         Adoption

[1351 rows x 2 columns]