In [6]:
# Import dependencies
import pandas as pd
from sqlalchemy import create_engine

In [7]:
# The path to the World Happiness CSV file
shelters_file = "../Data/petfinder_shelters.csv"

# Read the World Happiness data into pandas
original_shelters_df = pd.read_csv(shelters_file, delimiter = ',')
original_shelters_df.head()

,address1,address2,city,country,email,id,latitude,longitude,name,phone,state,zip
0,195 State Road,NaN,Kittery,US,AdoptionsKAH@gmail.com,ME118,43.0899,-70.7415,Kittery Animal Hospital and Creature Comforts LLC,(207) 439-4158,ME,3904
1,94 Grove Road,NaN,Rye,US,lgrovefarm@aol.com,NH81,42.9885,-70.8282,Lilac Groves Pampered Pups,603-964-1475,NH,3870
2,NaN,NaN,Rye,US,Rescue@NNEwestierescue.org,NH140,42.9885,-70.8282,Northern New England Westie Rescue Inc,NaN,NH,3870
3,104 Portsmouth Avenue,P.O. Box 196,Stratham,US,info@nhspca.org,NH31,43.0028,-70.9212,NHSPCA,603-772-2921,NH,3885
4,NaN,NaN,York,US,thegratefuldoganimalrescue@gmail.com,ME158,43.1502,-70.6281,The Grateful Dog Animal Rescue,NaN,ME,3909

In [8]:
# Inspect the data types
original_shelters_df.dtypes

address1      object
address2      object
city          object
country       object
email         object
id            object
latitude     float64
longitude    float64
name          object
phone         object
state         object
zip           object
dtype: object

In [9]:
# Create a pandas DataFrame
clean_shelters_df = original_shelters_df.drop(['address1', 'address2', 'email','phone'], axis=1)
clean_shelters_df

,city,country,id,latitude,longitude,name,state,zip
0,Kittery,US,ME118,43.0899,-70.7415,Kittery Animal Hospital and Creature Comforts LLC,ME,3904
1,Rye,US,NH81,42.9885,-70.8282,Lilac Groves Pampered Pups,NH,3870
2,Rye,US,NH140,42.9885,-70.8282,Northern New England Westie Rescue Inc,NH,3870
3,Stratham,US,NH31,43.0028,-70.9212,NHSPCA,NH,3885
4,York,US,ME158,43.1502,-70.6281,The Grateful Dog Animal Rescue,ME,3909
...,...,...,...,...,...,...,...,...
10131,Morris,US,IL717,41.3555,-88.4125,"All Those Left Behind Animal Rescue, Inc.",IL,60450
10132,Normal,US,IL806,40.5101,-88.9866,Arrow Dog Rescue,IL,61761
10133,Westville,US,IN23,41.5536,-86.8980,Independent Cat Society,IN,46391
10134,Lansing,US,MI649,42.6813,-84.5757,Purrfect Kitties,MI,48911
10135,Fair Play,US,MO656,37.6333,-93.5749,Hotel McColm,MO,65649

In [10]:
clean_shelters_df = clean_shelters_df[clean_shelters_df['country'] == 'US']
clean_shelters_df

,city,country,id,latitude,longitude,name,state,zip
0,Kittery,US,ME118,43.0899,-70.7415,Kittery Animal Hospital and Creature Comforts LLC,ME,3904
1,Rye,US,NH81,42.9885,-70.8282,Lilac Groves Pampered Pups,NH,3870
2,Rye,US,NH140,42.9885,-70.8282,Northern New England Westie Rescue Inc,NH,3870
3,Stratham,US,NH31,43.0028,-70.9212,NHSPCA,NH,3885
4,York,US,ME158,43.1502,-70.6281,The Grateful Dog Animal Rescue,ME,3909
...,...,...,...,...,...,...,...,...
10131,Morris,US,IL717,41.3555,-88.4125,"All Those Left Behind Animal Rescue, Inc.",IL,60450
10132,Normal,US,IL806,40.5101,-88.9866,Arrow Dog Rescue,IL,61761
10133,Westville,US,IN23,41.5536,-86.8980,Independent Cat Society,IN,46391
10134,Lansing,US,MI649,42.6813,-84.5757,Purrfect Kitties,MI,48911
10135,Fair Play,US,MO656,37.6333,-93.5749,Hotel McColm,MO,65649

In [12]:
clean_shelters_df.to_csv('../Data/clean_national.csv', index = True, header=True)

In [13]:
engine = create_engine("sqlite:///../web_page/data/shelters.sqlite")
clean_shelters_df.to_sql(name='national', con=engine, if_exists='replace', index=False)